﻿@model Aspirantes.Models.Aspirante

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Aspirante</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApellidoPaterno)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApellidoPaterno)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApellidoMaterno)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApellidoMaterno)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CURP)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CURP)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EscuelaAnterior)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EscuelaAnterior)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaNacimiento)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
