﻿@model Aspirantes.Models.Aspirante

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Aspirante</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApellidoPaterno)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApellidoPaterno)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApellidoMaterno)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApellidoMaterno)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CURP)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CURP)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EscuelaAnterior)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EscuelaAnterior)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaNacimiento)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
